@model WebApplication2.Models.SolicitudeDto

@{
    ViewData["Title"] = "CreateView";
}

<h1>Create</h1>

<h4>Solicitude</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label>Cantidad de estudiantes</label>
                @Html.TextBoxFor(m => m.studentsQuantity)
            </div>
            <div class="form-group">
                <label>Materia</label>
                <select name="subjectDtoNumber">
                    @foreach(SubjectDto subject in ViewBag.Subjects)
                    {
                        <option value="@subject.id">@string.Format(subject.subjectCode + " ({0})", subject.subject)</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Codigo de solicitud</label>
                @Html.TextBoxFor(m => m.solicitudeCode)
            </div>
            <div class="form-group">
                <label>Tipo de solicitud</label>
                <select name="typeSolicitude">
                    <option value="FINAL">FINAL</option>
                    <option value="COURSE" selected>CURSO</option>
                </select>
            </div>
            <div class="form-group">
                <label>Turno</label>
                <select name="shiftEntity">
                    <option value="MORNING" selected>MAÑANA</option>
                    <option value="AFTERNOON">TARDE</option>
                    <option value="NIGHT">NOCHE</option>
                </select>
            </div>
            <div class="form-group">
                <label>Fecha inicio</label>
                <input type="date" name="startDate" />
            </div>
            <div class="form-group">
                <label>Fecha fin</label>
                <input type="date" name="endDate" />
            </div>
            <div class="form-group">
                <label>Edificio y aula</label>
                <select name="classroomDtoNumber">
                    @foreach(ClassroomDto classroom in ViewBag.Classrooms)
                    {
                        <option value="@classroom.id">@classroom.buildingEntity.buildingName @classroom.number</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Observaciones</label>
                @Html.TextBoxFor(m => m.observations)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
